{% include '/emails/layouts/email_header.twig' with {'title': 'Подтвердить email-адрес'} %}
<td valign="middle" class="intro bg_white" style="padding: 2em 0 4em 0;">
	<table>
		<tbody>
			<tr>
				<td>
					<div class="text" style="padding: 0 2.5em; text-align: center;">
						<h2>Здравствуйте!</h2>
						<p>Пожалуйста, нажмите кнопку ниже, чтобы перейти на страницу смены пароля. Ссылка действительна в течении суток</p>
						<p>
							<a href="{{url}}" class="btn btn-black">Перейти</a>
						</p>
						<p style="font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';position:relative;font-size:16px;line-height:1.5em;margin-top:0;text-align:left;">Если у Вас возникли проблемы с кликом по кнопке, скопируйте и вставьте адрес в адресную строку браузера: {{url}}</p>
            <p style="font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';position:relative;font-size:16px;line-height:1.5em;margin-top:0;text-align:left;">Если Вы не запрашивали смену пароля, никаких дополнительных действий не требуется.</p>
            <p style="font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';position:relative;font-size:16px;line-height:1.5em;margin-top:0;text-align:left;">С уважением,<br>{{ constant('APP_NAME') }}</p>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</td>
{{ include('/emails/layouts/email_footer.twig') }}