.big-image-breadcrumbs {
  margin: 10px;
  font-size: 14px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0em;

  &__item {
    display: inline-block;
    position: relative;

    &:not(:last-child) {
      margin-right: 25px;

      &::after {
        content: '';
        position: absolute;
        background-color: $color-black;
        -webkit-mask-image: url('../images/chevron-right.svg');
        mask-image: url('../images/chevron-right.svg');
        width: 9px;
        height: 9px;
        top: 10px;
        right: -20px;
      }
    }

  }

  a {
    color: $color-black;
    &:hover{
      transition: color .2s ease-out;
      color: $color-red;
    }
  }
}