.header-menu {
  font-size: 14px;
  font-weight: 600;

  &-modile {
    font-size: 14px;
    font-weight: 600;
  }

  &_bottom {
    margin: 0;
    display: block;
    text-align: left;
    font-size: 15px;

    li {
      text-align: left;
      margin-bottom: 14px;
    }
  }

  &__item {
    position: relative;
    padding: 10px;

    &:hover {
      background-color: $color-menu;
      transition: background-color 0.5s ease;
    }
  }

  &__link {
    color: $color-dark;

    &:hover {
      color: $color-dark;
      text-decoration: none;
    }
  }
}

@include media-breakpoint-up(xs) {
  .header-menu-modile {
    display: none;
    margin: 0 10px auto 0;
    background-color: $color-white;

    &__item {
      margin-bottom: 10px;
    }
  }

  .header-menu {
    justify-content: center;
    display: none;
    position: absolute;
    background-color: $color-white;
    top: 60px;
    left: 0;
    width: 100%;
    margin: 0 10px auto 0;

    &__item {
      margin-bottom: 10px;
    }
  }
}

@include media-breakpoint-up(sm) {

  .header-menu {
    flex-wrap: wrap;
    flex-direction: column;


    &__item {
      margin-bottom: 10px;
    }
  }
}

@include media-breakpoint-up(lg) {
  .header-menu {

    &__item {
      margin-bottom: 0;
    }
  }
}

@include media-breakpoint-up(xxl) {
  .header-menu-modile {
    display: none;
  }

  .header-menu {
    position: relative;
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    width: auto;
    top: auto;
    background-color: transparent;
    margin: 7px auto;

    &__item {
      text-align: center;

      &:hover>.header-menu-sub {
        display: block;
      }
    }
  }
}