$img : 'img/';
$fonts: '../fonts/';

//gradient green

$color-red : #FF3359;
$color-dark: #0A0A0A;
$color-black-always: #0A0A0A;
$color-black: #000000;
$color-white: white;
$color-menu: white;
$color-white-always: white;
$color-pagination: red;
$color-gray: #EEEEEE;
$color-444: #444444;
$color-yellow: #FDB74F;
$color-dark-red: #D8621F;
$color-red-menu: #FF3359;
$color-label: black;
$color-sort: black;

$color-search: white;
$background-body: linear-gradient(0deg, #ECE4E4, #ECE4E4);
$background-header: rgba(255, 255, 255, 0.7);
$background-night: rgba(78, 78, 78, 0.1);
$background-input: rgba(255, 255, 255, 0.5);
$background-opaque: rgba(255, 255, 255, .7);
$background-select:  rgba(255, 255, 255, 1);
$background-day: transparent;
$background-subscribe: $color-gray;
$border-black: rgba(0, 0, 0, 0.2);
$logo: 'logo.png';
$user-email: rgba(0, 0, 0, 0.6);
$similars-list: $color-white;

$footer-form: $color-white;
$footer-image: 'logo_maximus_black.png';

$trans_delay: 0.1s;

$slider-circle: brightness(0) invert(0);