$img : 'img/';
$fonts: 'fonts/';

//gradient green

$color-red : #FF3359;
$color-dark: white;
$color-black-always: #333333;
$color-black: white;
$color-white-always: white;
$color-pagination: white;
$color-white:#333333;
$color-menu: #991d34;
$color-gray: #EEEEEE;
$color-444: white;
$color-yellow: #FDB74F;
$color-dark-red: #D8621F;
$color-red-menu: #FF3359;
$color-label: rgba(255, 255, 255, 0.6);
$color-sort: white;
$trans_delay: 0.1s;
$color-search: rgba(0, 0, 0, .1);
$background-body: #333333;
$background-header: rgba(0, 0, 0, 0.7);
$background-night: transparent;
$background-input: rgba(255, 255, 255, 0.1);
$background-opaque: rgba(0, 0, 0, .7);
$background-select:rgba(0,0,0, 0);
$background-day: #4E4E4E;
$background-subscribe: rgba(0, 0, 0, 0.1);
$logo: 'logo-night.png';
$similars-list: $color-black;
$footer-form: $color-black;
$border-black: rgba(255, 255, 255, 0.2);
$user-email: rgba(255, 255, 255, 0.6);
$footer-image: 'logo_maximus_footer_after.png';

$slider-circle: brightness(0) invert(1);