{% include 'layouts/header.twig' with {'title': title,
  'description': description} %}
  <div class="blog blog-wrap">
    <section class="blog-top">
      <div class="wrap">
        <div class="blog-top-block">
          <h1 class="blog__title">Sweet Speak- </h1>
          <p class="blog-top__text">Это Social Media проект, созданный для <span>анонимного общения</span> на все возможные интимные темы.</p>
          <a class="button button_outline blog-top__registry guest-registry" href="#registration" >Зарегистрироваться</a>
          <div class="video-flex-right">
            <button class="video-button"><span></span></button>
            <div class="video-desc">
              <p class="video-desc__text"><span>Посмотрите</span> короткое
                видео о сервисе</p>
              <p>01:23</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="blog-about">
      <div class="wrap">
        <div class="blog-about__wrap">
          <h2 class="blog__caption blog__caption_line">Наш проект создан  для людей свободных взглядов</h2>
          <p class="blog-about__desc">Среди наших участников — блогеры, сексологи и психологи, а также люди, которые не боятся открыто говорить о сексе и отношениях. </p>
          <p class="blog-about__caption">Здесь люди могут: </p>
        </div>
        <ul class="blog-about-list"> 
          <li class="blog-about-list__item">
            <i class="blog-about-list__icon blog-about-list__icon_info"></i> Получить <strong>необходимую информацию</strong> по каждой теме</li>
          <li class="blog-about-list__item">
            <i class="blog-about-list__icon blog-about-list__icon_opinion"></i>Рассказать о своем опыте, убеждениях,  <strong>задать вопросы и получить ответы</strong></li>
          <li class="blog-about-list__item">
            <i class="blog-about-list__icon blog-about-list__icon_blast"></i>Интересно <strong>провести время и найти друзей </strong> по взглядам и интересам</li>
          <li class="blog-about-list__item">
            <i class="blog-about-list__icon blog-about-list__icon_communicate"></i><strong>Найти партнеров </strong> для кратковременных и долгосрочных отношений</li>
        </ul>
        
      </div>
    </section>
    <section class="blog-advantages">
      <div class="wrap">
        <div class="blog-advantages__wrap">
          <h2 class="blog__caption">Преимущества для экспертов</h2>
          <p class="blog-advantages__desc">Если вы ведете личный блог и не боитесь открыто говорить о сексе и отношениях, то предлагаем зарегистрироваться в нашем проекте в качестве эксперта.</p>
          <div class="blog-advantages-promise">
            <p class="blog-advantages-promise__text">Мы будем продвигать наш проект с помощью соцсетей, блогов, таргета, SEO и контекстной рекламы.</p>
          </div>
          <ul class="blog-advantages-list">
            <li class="blog-advantages-list__item">
              <i class="blog-advantages-list__icon blog-advantages-list__icon_communicate"></i>
              <div class="blog-advantages-list__wrap">
                <p class="blog-advantages-list__number">Преимущество №1</p>
                <p class="blog-advantages-list__text">Привлечь новую аудиторию в свой блог за счет трафика с наших ресурсов</p>
              </div>
            </li>
            <li class="blog-advantages-list__item">
              <i class="blog-advantages-list__icon blog-advantages-list__icon_private"></i>
              <div class="blog-advantages-list__wrap">
                <p class="blog-advantages-list__number">Преимущество №2</p>
                <p class="blog-advantages-list__text">Вступить в закрытый клуб коллег по индустрии</p>
              </div>
            </li>
            <li class="blog-advantages-list__item">
              <i class="blog-advantages-list__icon blog-advantages-list__icon_promotion"></i>
              <div class="blog-advantages-list__wrap">
                <p class="blog-advantages-list__number">Преимущество №3</p>
                <p class="blog-advantages-list__text">Продвигать свои идеи и ценности среди единомышленников</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <div class="wrap">
      <section class="blog-agenda">
        <h2 class="blog__caption">Чтобы познакомить нашу аудиторию с вами, так же мы предлагаем вам интервью для нашего ютуб-канала. </h2>
        <p class="blog-agenda__text">Мы свободны говорить о тех темах, что интересны и вам. Вы сможете:</p>
        <ul class="blog-agenda-list">
          <li class="blog-agenda-list__item">
            <i class="blog-agenda-list__icon blog-agenda-list__icon_qna"></i>
            <p class="blog-agenda-list__text">Ответить на вопросы вопросы, в которых вы являетесь экспертом</p>
          </li>
          <li class="blog-agenda-list__item">
            <i class="blog-agenda-list__icon blog-agenda-list__icon_tell"></i>
            <p class="blog-agenda-list__text">Ответить на вопросы вопросы, в которых вы являетесь экспертом</p>
          </li>
          <li class="blog-agenda-list__item">
            <i class="blog-agenda-list__icon blog-agenda-list__icon_brainstorm"></i>
            <p class="blog-agenda-list__text">Обсудить актуальные темы, которые были бы вам интересны</p>
          </li>
        </ul>
        <div class="blog-agenda-promise">
          <p class="blog-agenda-promise__text">Мы берем на себя все затраты на съемки: студия, видео, монтаж. Все материалы мы вышлем Вам и вы сможете их использовать в своем блоге! Станьте первым! </p>
        </div>
      </section>
    </div>
  </div>
  <section class="blog-registration">
    <div class="wrap">
      <div class="blog-registration__wrap">
        <div class="blog-registration__left">
          <h2 class="blog__caption">Присоединившись к нам на этапе запуска проекта, вы сможете в числе первых обратить на себя внимание аудитории и расти вместе с нами. </h2>
          <p class="blog-registration__text"><strong>Зарегистрируйтесь и разместите свой первый пост.</strong>  Это может быть всё, чем вы хотите поделиться с аудиторией: материалы из инстаграм, информация из ваших гайдов или марафонов! </p>
        </div>
        <div class="blog-registration__right">
          <form action="/singup" method="post" class="blog-registration__form landing-registration">
            <p class="caption caption_h2 blog-registration__caption">Будем рады ответить на ваши вопросы и получить от вас обратную связь.</p>
            <fieldset>
              <legend>Ваше имя</legend>
              <input type="text" name="name" id="landing-registration_name" required="">
            </fieldset>
            <fieldset>
              <legend>Email</legend>
              <input type="email" name="email" id="landing-registration_email" required="">
            </fieldset>
            <fieldset>
              <legend>Придумайте пароль</legend>
              <input type="password" name="password" id="landing-registration_password" autocomplete="off" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Не менее восьми символов, содержащих хотя бы одну цифру и символы из верхнего и нижнего регистра" required="">
              <i class="modal-form__show modal-form__show_big modal-form__show_white show-pass"></i>
            </fieldset>
            <label class="blog-registration__checkboxlabel">
              <input type="checkbox" name="check" class="visually-hidden">
              <span class="checkbox-analog"></span>
              <span class="checkbox-text">
                <span>Регистрируясь, вы принимаете условия обработки персональных данных пользователей</span>
              </span>
            </label>
            <button type="submit" class="button button_red form__button blog-registration__submit">Быстрая регистрация <i></i></button>
            <ul class="error error_white"></ul>
          </form>
        </div>
      </div>
      
    </div>
  </section>
</main>
</div>
</div>

{% include 'layouts/footer.twig' %}
<script src="/bundles/js/blog.js"></script>
