{% include 'layouts/header.twig' with {'title': 'О нас'} %}
 <div class="wrap">
    <div class="container">
        <h1 class="text-center">Политика конфиденциальности</h1>

        <h3>1. Общие положения</h3>
        <ol>
            <li><b> 1.1.</b> Настоящая Политика конфиденциальности в отношении обработки персональных данных (далее – «Политика») составлена в соответствии с требованиями Федерального закона от 27.07.2006 №152-ФЗ «О персональных данных» и определяет порядок обработки персональных данных и меры по обеспечению безопасности персональных данных со стороны ООО "МАКСИМУС МЕДИА" (ИНН: 7743249801 ОГРН: 1187746362540).</li><br>
            <li><b> 1.2.</b> Оператор ставит своей важнейшей целью и условием осуществления своей деятельности соблюдение прав и свобод человека и гражданина при обработке его персональных данных, в том числе защиты прав на неприкосновенность частной жизни, личную и семейную тайну.</li><br>
            <li><b> 1.3.</b> Настоящая политика Оператора в отношении обработки персональных данных применяется ко всей информации, которую Оператор может получить о Пользователях веб-сайта http://sweetspeak.ru</li><br>
            <li><b> 1.4.</b> Используя веб-сайт http://sweetspeak.ru и предоставляя свои персональные данные Оператору, Пользователь дает согласие на обработку персональных данных в соответствии с данной Политикой, подтверждает, что ознакомлен со всеми пунктами настоящей Политики и принимает их без исключений и оговорок.</li><br>
            <li><b> 1.5. </b>Пользователь выражает свое полное согласие с условиями Политики путем обращения к любому из разделов веб-сайта. В случае несогласия с любым из пунктов Политики Пользователь не имеет права использовать веб-сайт. Также Пользователю запрещено использовать веб-сайт, если он не достиг установленного законом возраста, когда он имеет право заключать соглашения с веб-сайтом.</li>
        </ol>
            <h5>2. Основные понятия, используемые в Политике</h5>
            <ol>
                <li><b>2.1.</b> Веб-сайт – сайт, являющийся информационным ресурсом, располагаемый по сетевому адресу http://sweetspeak.ru.</li><br>
                <li><b>2.2.</b> Обработка персональных данных – любое действие (операция) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных.</li><br>
                <li><b>2.3.</b> Оператор – ООО «МАКСИМУС МЕДИА» самостоятельно или совместно с другими лицами (работниками) организующий и (или) осуществляющий обработку персональных данных, а также определяющий цели обработки персональных данных, состав персональных данных, подлежащих обработке, действия (операции), совершаемые с персональными данными.</li><br>
                <li><b>2.4.</b> Персональные данные – любая информация, относящаяся прямо или косвенно к определенному или определяемому Пользователю веб-сайта.</li><br>
                <li><b>2.5.</b> Пользователь – посетитель веб-сайта, воспользовавшийся услугами Оператора.</li><br>
                <li><b>2.6.</b> Услуги – безвозмездные информационные услуги, оказываемые Оператором посредством веб-сайта.</li><br>
                <li><b>2.7.</b> Файл «cookie» — файл, который сохраняется на компьютере или мобильном устройстве Пользователя, который веб-клиент или веб-браузер каждый раз пересылает веб-серверу в http-запросе при попытке открыть страницу соответствующего сайта.</li>
            </ol>
        <h3> 3. Персональные данные Пользователя, которые обрабатывает Оператор</h3>
            <ol>
                <li><b>3.1.</b> Оператор обрабатывает персональную информацию, которую Пользователь предоставляет о себе самостоятельно в процессе использования веб-сайта, включая персональные данные Пользователя. Оператор получает и обрабатывает следующие данные Пользователя, направляемые посредством форм, указанных на веб-сайте (в частности, «Обратная связь»):</li><br>
                <li><b>3.1.1.</b> фамилия, имя, отчество;</li><br>
                <li><b>3.1.2.</b> адрес электронной почты;</li><br>
                <li><b>3.1.3.</b> иную информацию, которую Пользователь может самостоятельно отразить путем заполнения формы «Сообщение».</li><br>
                <li><b>3.2.</b> На сайте происходит сбор и обработка обезличенных данных о посетителях (в т.ч. файлов «cookie», IP-адрес Пользователя). Эти данные используются для персонализации материалов, настройки и измерения показателей рекламы, для обеспечения безопасности сайта и его Пользователей, улучшения и упрощения процесса посещения веб-сайта. Оператор обрабатывает обезличенные данные о Пользователе в случае, если это разрешено в настройках браузера Пользователя (включено сохранение файлов «cookie» и использование технологии JavaScript). Оператор не использует файлы «cookie» для хранения персональной информации или раскрытия информации третьим сторонам.</li><br>
                <li><b>3.3.</b> Оператор использует Google Analytics и Яндекс.Метрику для анализа посещаемости веб-сайта. Google Analytics и Яндекс.Метрика формирует статистическую и другую информацию о сайте, используя файлы-cookie, которые хранятся в компьютерах Пользователя. Эта информация используется для составления отчетов об использовании веб-сайта. Полученные данные хранятся в компании Google и Яндекс.</li><br>
                <li><b>3.4.</b> Оператор не обрабатывает персональные данные специальной категории, в том числе данные о политических, религиозных и иных убеждениях, о членстве в общественных объединениях и профсоюзной деятельности, о частной и интимной жизни Пользователя.</li><br>
                <li><b>3.5.</b> В общем случае Оператор не проверяет достоверность персональной информации, предоставляемой Пользователем, и не осуществляет контроль за их дееспособностью. Однако Оператор исходит из того, что Пользователь предоставляет достоверную и достаточную персональную информацию, указанную в формах заявок, и поддерживает эту информацию в актуальном состоянии.</li><br>
                <li><b>3.6.</b> Настоящая Политика применяется только к сервисам веб-сайта. Оператор не контролирует и не несет ответственность за веб-сайты третьих лиц, на которые Пользователь может перейти по ссылкам, доступным на веб-сайте.</li>
            </ol>
            <h5>4. Цели обработки персональных данных</h5>
            <ol>
                <li><b>4.1.</b> Оператор собирает и хранит только те персональные данные, которые необходимы для оказания Услуг Пользователям.</li>
                <li><b>4.2.</b> Цели обработки персональных данных Пользователя:</li>
                <li><b>4.2.1.</b> Идентификация стороны в рамках использования сервисов веб-сайта.</li>
                <li><b>4.2.2.</b> Осуществление оказания Услуг Пользователям и возможности использования веб-сайта Пользователями.</li>
                <li><b>4.2.3.</b> Таргетирование рекламных материалов.</li>
                <li><b>4.2.4.</b> Предоставление Пользователю доступа к информации, содержащейся на веб-сайте.</li>
                <li><b>4.2.5.</b> Улучшение качества веб-сайта, удобства его использования, разработка новых сервисов.</li>
                <li><b>4.2.6.</b> Установление с Пользователем обратной связи в случае необходимости.</li>
                <li><b>4.2.7.</b> Проведение статистических и иных исследований на основе обезличенных данных.</li>
            </ol>
            <h5>5. Правовые основания обработки персональных данных. Согласие Пользователя.</h5>
            <ol>
                <li><b>5.1.</b> Оператор обрабатывает персональные данные Пользователя только в случае их заполнения и/или отправки Пользователем самостоятельно через специальные формы, расположенные на веб-сайте.</li><br>
                <li><b>5.2.</b> Заполняя добровольно соответствующие формы и/или отправляя свои персональные данные Оператору, Пользователь выражает свое согласие с данной Политикой. Согласие Пользователя на обработку персональных данных является конкретным, информированным и сознательным. Настоящее согласие Пользователя признается исполненным в простой письменной форме.</li><br>
                <li><b>5.3.</b> Пользователь как субъект персональных данных имеет право на получение информации, касающейся обработки его персональных данных, в том числе содержащей:</li>
                <li><b>•</b> подтверждение факта обработки персональных данных;</li>
                <li><b>•</b> правовые основания и цели обработки персональных данных;</li>
                <li><b>•</b> цели и применяемые оператором способы обработки персональных данных;</li>
                <li><b>•</b> наименование и место нахождения оператора, сведения о лицах (за исключением работников оператора), которые имеют доступ к персональным данным или которым могут быть раскрыты персональные данные на основании договора с оператором или на основании федерального закона;</li>
                <li><b>•</b> обрабатываемые персональные данные, относящиеся к соответствующему субъекту персональных данных, источник их получения, если иной порядок представления таких данных не предусмотрен Федеральным законом;</li>
                <li><b>•</b> сроки обработки персональных данных, в том числе сроки их хранения;</li>
                <li><b>•</b> порядок осуществления субъектом персональных данных прав, предусмотренных Федеральным законом;</li>
                <li><b>•</b> информацию об осуществленной или о предполагаемой трансграничной передаче данных;</li>
                <li><b>•</b> наименование или фамилию, имя, отчество и адрес лица, осуществляющего обработку персональных данных по поручению оператора, если обработка поручена или будет поручена такому лицу;</li>
                <li><b>•</b> иные сведения, предусмотренные Федеральным законом или другими федеральными законами.</li>
            </ol>
            <h3> 6. Безопасность, порядок и условия сбора, хранения, передачи и других видов обработки персональных данных</h3>
            <ol>
                <li><b>6.1.</b> Безопасность персональных данных, обрабатываемых Оператором, обеспечивается путем реализации правовых, организационных и технических мер, необходимых для выполнения в полном объеме требований действующего законодательства в области защиты персональных данных.</li><br>
                <li><b>6.2.</b> Обработка персональных данных Пользователя осуществляется любым законным способом, в том числе в информационных системах персональных данных с использованием средств автоматизации или без использования таких средств.</li><br>
                <li><b>6.3.</b> В отношении персональной информации Пользователя сохраняется ее конфиденциальность. Оператор обеспечивает сохранность персональных данных и принимает все возможные меры, исключающие доступ к персональным данным неуполномоченных лиц.</li><br>
                <li><b>6.4.</b> Персональные данные Пользователя никогда, ни при каких условиях не будут переданы третьим лицам, за исключением следующих случаев:</li><br>
                <li><b>6.4.1.</b> Пользователь выразил свое согласие на такие действия.</li><br>
                <li><b>6.4.2.</b> Передача необходима в рамках использования Пользователем веб-сайта.</li><br>
                <li><b>6.4.3.</b> Передача предусмотрена российским или иным применимым законодательством в рамках установленной законодательством процедуры.</li><br>
                <li><b>6.4.4.</b> Такая передача происходит в рамках продажи или иной передачи бизнеса (полностью или в части), при этом к приобретателю переходят все обязательства по соблюдению условий настоящей Политики применительно к полученной им персональной информации.</li><br>
                <li><b>6.5.</b> Доступ к персональным данным имеют только уполномоченные работники Оператора. Все работники Оператора, имеющие доступ к персональным данным Пользователя, должны придерживаться Политики. В целях обеспечения конфиденциальности информации и защиты персональных данных Оператор принимает все меры, необходимые для предотвращения несанкционированного доступа.</li><br>
                <li><b>6.6.</b> В случае выявления неточностей в персональных данных, Пользователь может актуализировать (изменить, обновить, дополнить) их самостоятельно, путем отправки Оператору письма-уведомления на адрес электронной почты Оператора с пометкой «Актуализация/изменение персональных данных».</li><br>
                <li><b>6.7.</b> Срок обработки персональных данных является неограниченным. Пользователь может в любой момент отозвать свое согласие на обработку персональных данных, направив Оператору письмо-уведомление посредством электронной почты на электронный адрес Оператора info@sweetspeak.ru с пометкой «Отзыв согласия на обработку персональных данных».</li><br>
                <li><b>6.8.</b> Удаление, уничтожение, персональных данных осуществляются в порядке, предусмотренном действующим законодательством и нормативными актами Оператора. Удаление, уничтожение персональных данных осуществляется ответственными лицами:</li><br>
                <li><b>6.8.1.</b> в случаях, предусмотренных законом;</li><br>
                <li><b>6.8.2.</b> по требованию Пользователя, государственного органа или суда;</li><br>
                <li><b>6.8.3.</b> по истечении сроков хранения;</li><br>
                <li><b>6.8.4.</b> за истечением надобности.</li>
            </ol>
            <h5>7. Ответственность</h5>
            <ol>
                <li><b>7.1.</b> Настоящая Политика применяется только к сервисам веб-сайта. Оператор не контролирует и не несет ответственность за веб-сайты третьих лиц, на которые Пользователь может перейти по ссылкам, доступным на веб-сайте.</li><br>
                <li><b>7.2.</b> Политика конфиденциальности не регулирует и Оператор не несет ответственности за получение, хранение, обработку, использование и раскрытие персональных данных Пользователя третьими лицами, не находящимися во владении или под управлением Оператора, и физическими лицами, не являющимися работниками/партнерами Оператора, даже если Пользователь получил доступ к веб-сайтам товаров/услуг/работ этих лиц с помощью веб-сайта или рассылки.</li><br>
                <li><b>7.3.</b> В случае утраты или разглашения конфиденциальной информации Оператор не несёт ответственность, если данная информация:</li><br>
                <li><b>•</b> стала публичным достоянием до её утраты или разглашения;</li>
                <li><b>•</b> была получена от третьей стороны до момента её получения Оператором;</li>
                <li><b>•</b> была разглашена с согласия Пользователя.</li><br>
                <li><b>7.4.</b> Оператор не несет ответственности за ущерб или убытки, которые понес Пользователь и/или третьи лица в результате ошибочного понимания или непонимания условий Политики, инструкций или указаний о порядке использования веб-сайта, относительно порядка размещения данных и других технических вопросов.</li>
            </ol>
            <h5> 8. Заключительные положения</h5>
            <ol>
                <li><b>8.1.</b> Пользователь может получить любые разъяснения по интересующим вопросам, касающимся обработки его персональных данных, обратившись к Оператору по электронной почте info@sweetspeak.ru</li><br>
                <li><b>8.2.</b> Оператор имеет право вносить изменения в настоящую Политику в любое время и по своему усмотрению. При внесении изменений в актуальной редакции указывается дата последнего обновления. Новая редакция Политики вступает в силу с момента ее размещения на веб-сайте, если иное не предусмотрено новой редакцией Политики.</li><br>
                <li><b>8.3.</b> Действующая редакция всегда находится на страницах веб-сайта и называется «Политика конфиденциальности в отношении обработки персональных данных».</li><br>
                <li><b>8.4.</b> Настоящая Политика применима только к веб-сайту.</li><br>
                <li><b>8.5.</b> Политика распространяется на Пользователя с момента, когда во время использования веб-сайта он при передаче своих персональных данных согласился с условиями Политики, и действует до тех пор, пока у Оператора хранится любая информация о Пользователе, в том числе, персональные данные.</li><br>
                <li><b>8.6.</b> В случае, если какое-либо положение Политики, включая любое предложение, пункт или их часть, признается противоречащим закону или недействительным, это не повлияет на остальные положения, которые не противоречат закону, они остаются в полной силе и являются действительными, а любое недействительное положение или положение, которое не может быть выполнено без дальнейших действий Сторон, считается измененным, исправленным в той мере, в какой это необходимо для обеспечения его действительности и возможности выполнения.</li><br>
                <li><b>8.7.</b> Оператор не принимает предложения от Пользователей относительно изменений настоящей Политики.</li><br>
                <li><b>8.8.</b> Все споры между сторонами решаются путем переговоров. Претензионный порядок решения споров является обязательным, срок ответа на претензию составляет 10 (десять) рабочих дней.</li><br>
                <li><b>8.9.</b> В случае невозможности достижения согласия путем переговоров, споры решаются в судебном порядке по месту нахождения Оператора.</li>
            </ol>
    </div>
 
</div>
</main>
</div>
{% include 'layouts/footer.twig' %}