{% include 'layouts/header.twig' with {'title': 'SweetSpeak',
  'description': 'Подборка статей о знакомствах, любви, сексе и отношениях, с советами о том, как сохранить здоровые и счастливые взаимоотношения'} %}
    <div class="wrap">
      <p>{{result}}</p>
      {% if form %}
      <form action="/recoveryPassPost" method="post" class="form" id="feedback">
        <input type="hidden" name="ValidateFormAccess" value="{{session.ValidateFormAccess|default('')}}">
        <input type="hidden" name="id" value="{{id|default('')}}">
        <div class="form-block">
            <label for="change_password" class="form__label">Придумайте пароль</label>
            <input type="password" class="form__input" autocomplete="off"
            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
            title="Не менее восьми символов, содержащих хотя бы одну цифру и символы из верхнего и нижнего регистра"
            name="password" id="change_password" required>
            <button type="button" class="eye-button eye-button_form show-pass"></button>
        </div>
        <button type="submit" class="button button_red form__button">Сохранить</button>
      </form>
      {% endif %}
    </div>
  </main>
</div>
{% include 'layouts/footer.twig' %}