{% include 'layouts/header.twig' with {'title': 'SweetSpeak',
  'description': 'Подборка статей о знакомствах, любви, сексе и отношениях, с советами о том, как сохранить здоровые и счастливые взаимоотношения'} %}
    <div class="wrap">
      <p>{{result}}</p>
    </div>
  </main>
</div>
{% include 'layouts/footer.twig' %}