.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
  list-style: none;

  &__item {
    cursor: pointer;

    &_disabled, &_active{
      cursor: auto;
    }
    
    &:first-child {
      margin-left: 0;
      border-top-left-radius: 0.25rem;
      border-bottom-left-radius: 0.25rem;
    }

    &_active,
    &:hover {
      a, span {
        z-index: 1;
        color: $color-white-always;
        background-color: $color-red;
      }
    }

    &_disabled {
      color: $color-black;
      &:hover span{
        color: inherit;
        background-color: inherit;
      }
    }
  }

  &__link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: $color-pagination;
    font-size: 15px;
    font-weight: 600;
  }

}
